@{
    ViewData["Title"] = "Compras";
}

<style>
    body {
        background-color: #E5E4E2; 
    }

    .card-img-top {
        width: 100%;
        height: 200px; /* Definindo uma altura fixa para as imagens */
        object-fit: cover; /* Garante que a imagem seja redimensionada para caber, mantendo a proporção */
    }

    h1 {
        text-align: center;
        margin: auto;
    }

    .btn-custom {
        background-color: #E9C9B4;
        border-color: #E9C9B4;
        color: black; 
    }

        .btn-custom:hover {
            background-color: #AE9686;
            border-color:#AE9686;
        }
</style>

<h1>Nosso Enxoval</h1>

<div style="display:flex; flex-direction:row; gap:20px;  margin-top:20px;">
    <div class="card" style="width: 18rem;">
        <img src="img/SalaDeEstar.jpg" class="card-img-top" alt="imagem Sala">
        <div class="card-body">
            <h5 class="card-title">Itens para Sala</h5>
            <a asp-action="Index" asp-controller="Sala" class="btn btn-primary btn-custom">Ver Itens</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="img/Cozinha.jpg" class="card-img-top" alt="imagem Cozinha">
        <div class="card-body">
            <h5 class="card-title">Itens para Cozinha</h5>
            <a asp-action="Index" asp-controller="Cozinha"  class="btn btn-primary btn-custom">Ver Itens</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="img/Quarto.jpg" class="card-img-top" alt="imagem Quarto">
        <div class="card-body">
            <h5 class="card-title">Itens para Quarto</h5>
            <a asp-action ="Index" asp-controller="Quarto" class="btn btn-primary btn-custom">Ver Itens</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="img/banheiro.jpg" class="card-img-top" alt="imagem Banheiro">
        <div class="card-body">
            <h5 class="card-title">Itens para Banheiro</h5>
            <a asp-action="Index" asp-controller="Banheiro" class="btn btn-primary btn-custom">Ver Itens</a>
        </div>
    </div>
</div>
